.main-1{
    position: absolute;
    align-content: center;
    top: 12%;
    left: 15%;
    width: 70%;
}

.main-7{
    position: absolute;
    align-content: center;
    top: 12%;
    left: 35%;
    width: 30%;
}

.main-2{
    position: absolute;
    align-content: center;
    top: 8%;
    left: 35%;
}

.main-3{
    width:39%;
    position: absolute;
    left: 12%;
    top: 14%;
}

.main-4{
    width:39%;
    position: absolute;
    left: 51%;
    top: 14%;
}

.main-5{
    background-color: rgba(93,94,94,0.7);
    margin: 2px;
    padding: 5px;
}

.main-6{
    color: rgb(0,0,0);
    text-align:center;
    font-weight: bold;
    padding: 2%;
}

.main-10{
    position: absolute;
    color: darkred;
    align-content: center;
    top: 4%;
    left: 40%;
}

.main-12{
    color: rgb(255,255,255);
    padding: 2%;
}

.main-11{
    text-align: center;
    }

.main-13{
    background-color: #b6effb;
    position: absolute;
    top: 30%;
    left: 1%;
    width: 14%;
    height: 40%;
}

.main-23{
    width:37%;
    position: absolute;
    left: 14%;
    top: 14%;
}

.main-24{
    width:37%;
    position: absolute;
    left: 51%;
    top: 14%;
}

.main-33{
    width:35%;
    position: absolute;
    left: 16%;
    top: 14%;
}

.main-34{
    width:35%;
    position: absolute;
    left: 51%;
    top: 14%;
}
